*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
}
li {
    list-style: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    ;
}

.container {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    /* max-width: 1000px;
    margin: 0 auto; */
}

.hero, .hobbies, .description, .contact-me {
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-weight: 700;
}

.header-links {
    padding: 0px 10px;
    font-size: 12px;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex: 1;
}

.hero-inner {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.hero p {
    color: #E5E7EB;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left button {
    width: 80px;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    border: none;
}

.hero-left {
    flex: 2;
}

.hero-left > * {
    padding: 10px 0px;
}

.hero-right {
    flex: 1;
    align-items: center;
}

.hero-right > * {
    border-style: solid;
    border-radius: 8px;
}

.hobbies{
    display:flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    background-color: white;
    /* justify-content: space-around;
    align-items: center; */
}

.hobby-list {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%
}

.hobby-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hobby-card img {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.description {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.description-inner {
    max-width: 1000px;
    margin: 0 auto;
}

.contact-me {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.contact-me-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-me-right img {
    padding: 2px;
}

.footer {
    text-align: center;
}

.header, .footer {
    background-color: #1F2937;
    color:white;
    padding: 10px;
}